html, body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}

h2 {
  font-size: 36px;
  padding: 4vw;
  position: absolute;
}

h3 {
  font-size: 28px;
  margin: 30px 0;
}

canvas {
  position: absolute;
  opacity: 1;
  transition: opacity 300ms linear;
  /*top: -100px; /* temp */
}

.district-ratios {
  position: absolute;
  bottom: 40px;
  left: 40px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.district-ratios li {
  margin: 10px;
}

.district-ratios li span {
  display: inline-block;
}

.district-ratios li .district-name {
  width: 200px;
}

.district-ratios li .count {
  width: 80px;
}

.district-ratios .header {
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}

.district-ratios .highlight {
  border: 1px solid #555;
  margin-top: 15px;
  padding: 8px;
}

.tooltip {
  width: 400px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.tooltip li {
  display: inline-block;
  padding: 5px;
}
