.Map {
  height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
}

svg {
  position: absolute;
  top: 0;
}

path.district {
  stroke: rgba(255, 255, 255, 0.85);
  stroke-width: 1;
  fill: transparent;
  transition: all linear 100ms;
}

path.district.hidden {
  stroke: rgba(255, 255, 255, 0);
}

path.district.highlighted {
  stroke-width: 2.5;
  stroke: rgba(255, 255, 255, 1);
}

path.district.faded {
  stroke-width: 1;
  stroke: rgba(255, 255, 255, 0.65);
}

path.district.hovered {
  stroke-width: 1;
  stroke: rgba(50, 50, 50, 0.85);
}
